TP1/ms-product/.vscode/NEWLY_CREATED_BY_SPRING_INITIALIZR
TP1/ms-product/HELP.md
TP1/ms-product/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
TP1/ms-product/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
